.dropdown-container {
    text-align: center;
    margin-bottom: 2rem;
}

.dropdown-container label {
    font-size: 1.6rem;
    color: #333;
    margin-right: 1rem;
}

#categoryDropdown {
    padding: 1rem;
    font-size: 1.6rem;
    border: 0.2rem solid #FAC30C;
    border-radius: 0.5rem;
    color: #333;
}
